code {
  background: #efefef;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

pre {
  background: #efefef;
  padding: 5px 0 5px 5px;
}

#preview {
  overflow: scroll;
  margin: 3px 5px 3px 5px;
  background-color: orangered;
}
